.container {
	text-align: center;
	align-items: center;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.title {
	text-align: center;
	color: rgba(255, 255, 255);
	/* font-family: 'Lobster'; */
	font-family: "Varela";
	font-size: 30px;
	text-shadow: 0 0 3px #ffffff;
}

.sideH {
	color: #1da1f2;
	font-family: "Varela";
}

/* .row {
    text-align: center;
    display: flex;
    padding: 10px 20px;
  }
  
  .column {
    flex: 50%;
  } */

.row {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}

.rightSide {
	background-color: #e4e4e4;
	border-radius: 5px;
	display: flex;
	box-shadow: 0px 0px 100px rgba(255, 46, 0, 0.51);
	flex-direction: column;
	justify-content: center;
}

/* Styling for the form elements*/

.sendBtn {
	margin: 30px;
	background-color: transparent;
	border: none;
	border: 2px solid #e05100;
	border-radius: 20px;
	font-family: "Varela";
	padding: 16px 32px;
	font-size: 16px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.sendBtn:hover {
	background-color: #e05100;
	color: #fff;
	border-radius: 20px;
}

.field {
	background-color: transparent;
	width: 75%;
	color: rgb(70, 70, 70);
	outline: none;
	border: none;
	padding: 10px;
	border-bottom: 1px solid #767276;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 10px;
	resize: none;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

@media screen and (max-width: 600px) {
	.row {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.bIcon {
	font-size: 20px;
	text-align: center;
	margin: 10px 8px;
}

.joinMsg {
	font-family: "Varela";
	background: -webkit-linear-gradient(#9ceb47, #258ce0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 14px;
	margin: 0 0;
}
