.mainCon {
	color: #fff;
}

.sidebar {
	height: 90%;
	width: 350px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #504f4f;
	overflow-x: hidden;
	padding-top: 20px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin: 12px;
	margin-top: 70px;
	border-radius: 20px;
}

.main {
	margin-left: 350px;
	text-align: center;
	margin-top: -100px;
}

.profilePic {
	width: 250px;
	height: 250px;
	background-color: #fd6702;
	border-radius: 50%;
	margin: 0 auto;
	background-image: url("/images/logo.png");
}

.bOpts {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.oIcon {
	font-size: 24px;
	margin: 15px;
	margin-top: 30px;
	color: #ddd;
}

.oIcon:hover {
	color: #e05100;
	cursor: pointer;
}

.settingSet {
	text-align: left;
	margin-top: 20px;
	display: none;
}

.sTitle {
	padding: 10px 32px;
	margin-top: -20px;
}

.sTitle:hover {
	background-color: #2b2b2b;
	/* margin-left: 0;
    cursor: pointer;
    color: #fd6702;
    border-left: 5px solid #e05100; */
	cursor: pointer;
}

.dis {
	width: 400px;
	margin: 0 0;
	height: 400px;
}

.exp {
	width: 400px;
	height: 400px;
	margin: 0 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 50px;
}

.getStart {
	background-color: #bded39;
	border: none;
	padding: 16px 32px;
	border-radius: 20px;
	margin: 20px;
	bottom: 0;
	font-size: 16px;
	position: relative;
}

.getStart:hover {
	background-color: #181818;
	border: 2px solid #bded39;
	color: #fff;
	cursor: pointer;
}
