.title {
  color: #e05100;
  font-family: "Varela";
  transition: all 0.6s ease-in-out;
}

.val {
  color: #ddd;
  font-family: "Roboto";
  font-weight: bolder;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.51);
  margin: 20px 20px;
  border-radius: 20px;
  justify-content: center;
  padding: 20px 16px;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.51);
  background: #181818;
  transition: all 0.6s ease-in-out;
}

.card:hover {
  box-shadow: 0 0 15px #e05100;
  background-color: #e05100;
}

.card:hover .title {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
  }
  .card {
    margin: 20px 20px;
  }
}
