.filters {
  align-items: center;
  text-align: center;
  margin-top: 30px;
}

.chBtn {
  background-color: #e05100;
  color: #fff;
  border: none;
  border-radius: 20px 0 20px 0;
  margin: 6px;
  padding: 10px 12px;
  font-size: 14px;
  cursor: pointer;
}
