.container {
    padding: 10px 10px;
    border-top: 1px solid #eaeaea;
    padding-top: 0;
    margin: 60px 20px 0 20px;
    background-color: #181818;
}

.group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-around;
}

.grpTitle {
    color: #e05100;
    /* padding: 0 10px; */
    opacity: 0.9;
}

.socialGrp,
.organGrp,
.localGrp {
    text-align: center;
}

.ico {
    color: #fff;
    margin-right: 10px;
}

.oText {
    color: #bcbcbc;
}

.fText {
    color: #1DA1F2;
    font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .group {
        display: block;
    }

    .socialGrp,
    .organGrp {
        margin-bottom: 30px;
    }
}
