.container {
    margin: 40px auto;
    text-align: center;
    display: flex;
    width: 75%;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.pTitle {
    text-align: center;
    color: rgba(255, 255, 255);
    /* font-family: 'Lobster'; */
    font-family: "Varela";
    font-size: 30px;
    text-shadow: 0 0 3px #ffffff;
}

.rightSide {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #272a34;
    border-radius: 5px;
    height: 100%;
}

.field {
    background-color: transparent;
    width: 75%;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px;
    border-bottom: 1px solid #767276;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: none;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.form {
    margin-top: 25%;
    margin-bottom: 25%;
    margin-right: auto;
}

.leftSide {
    height: auto;
}

.logBtn {
    margin: 30px;
    background-color: transparent;
    color: #fff;
    border: none;
    border: 2px solid #e05100;
    border-radius: 20px;
    padding: 16px 32px;
    font-size: 16px;
    transition-duration: 0.4s;
}

.logBtn:hover {
    background-color: #e05100;
    color: #fff;
    border-radius: 20px;
}

.joinMsg {
    font-family: "Varela";
    background: -webkit-linear-gradient(#c2e59c, #64b3f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;
    margin: 4px;
    margin-bottom: 0;
}

.ico {
    margin: 10px;
    color: #ffffff;
}

.pImage {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .row {
        display: block;
    }
}