.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
	width: 100%;
}

.card {
	box-shadow: 0px 0px 50px rgba(255, 46, 0, 0.7);
	background-color: #979797;
	padding: 16px 32px;
	text-align: center;
	border-radius: 18px;
	width: 400px;
	height: 300px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.card h1 {
	color: #ffffff;
	font-size: 40px;
	margin: 0 0;
}

.inner {
	margin: auto 0;
}
