.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.region {
	text-align: center;
	display: grid;
	width: auto;
	max-width: 70%;
	/* grid-template-columns: 33.3% 33.3% 33.3%; */
	/* grid-template-columns: 1fr 3fr 1fr; */
	grid-template-columns: 20% 60% 20%;
	/* grid-template-columns: repeat(3, 1fr); */
	/* height: 150px; */
}

.card {
	border: 3px solid #e05100;
	border-radius: 20px;
}

.title {
	color: #e05100;
	border-bottom: 3px solid #e05100;
	padding-bottom: 10px;
	margin-top: 15px;
	font-size: 40px;
	padding: 5px;
}

.cardAbt {
	color: rgb(71, 71, 71);
	padding: 10px 10px;
}

.options {
	margin-top: auto;
	margin-bottom: 40px;
	font-size: 75px;
	cursor: pointer;
}

.check_opt {
	color: #5dbf47;
	text-shadow: 0 0 5px #5dbf47;
	margin-left: auto;
}

.cross_opt {
	color: #cf2525;
	text-shadow: 0 0 5px #cf2525;
}

.bottomOpt {
	margin: 30px 0 0 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.chBtn {
	background: transparent;
	border: none;
	box-shadow: 0px 0px 20px rgba(255, 46, 0, 0.7);
	padding: 16px 32px;
	font-size: 20px;
	margin: 0 10px;
	border-radius: 18px;
	color: #303030;
	background-color: #b8b8b8;
	cursor: pointer;
}
